@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins{
  font-family: "Poppins", sans-serif;
}


.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

